<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - JOY Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="@Url.Content("~/admin/css/styles.css")" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <partial name="_PartialTopNavbar" />
        <div id="layoutSidenav">

            <partial name="_PartialNavbar" />

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">@ViewContext.RouteData.Values["controller"].ToString()</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
                        </ol>
                        @RenderBody()
                    </div>
                </main>
            <partial name="_PartialFooter" />
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="@Url.Content("~/admin/js/scripts.js")"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="@Url.Content("~/admin/js/datatables-simple-demo.js")"></script>
    </body>
</html>
