@model ContentViewModelUI 

<article class="top-one">
            <div class="container">
                <div class="top-details-img">
                    <img src="~/joy/img/background.jpg" class="img-fluid" alt="">
                </div>
                <div class="top-content-details">
                    <div class="top-content-details-category">
                        FASHION
                    </div>
                    <div class="top-content-details-title">
                        @Model.ContentDto.Title
                    </div>
                    <div class="top-content-details-description">
                        @Html.Raw(Model.ContentDto.Description)
                    </div>
                    <div class="top-details-content-images">
                        <img src="~/joy/img/taylor-joy2.jpg" class="img-fluid" alt="">
                        <img src="~/joy/img/taylor-joy3.jpg" class="img-fluid" alt="">
                        <img src="~/joy/img/taylor-joy4.jpg" class="img-fluid" alt="">
                        <img src="~/joy/img/taylor-joy5.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="top-content-details-description">
                        @Html.Raw(Model.ContentDto.Description)
                    </div>
                    <div class="top-content-social-media">
                        <div class="details-social">
                           @if (Model.GetUserSocialMediaDtos.Count != 0)
                    {
                        <text>Follow</text>
                             foreach (var socialMedia in Model.GetUserSocialMediaDtos)
                        {
                              <a href="@socialMedia.Url" target="_blank"><i class="fa @socialMedia.Icon"></i></a>
                        }
                    }
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <hr>

        <article class="blog-lasts">
            <div class="container">
                <div class="row">
            @foreach (var content in Model.TakeTheLastThreeDtos)
            {
                                <div class="col-md-4">
                                    <div class="lasts-blog-img">
                                        <img src="~/joy/img/taylor-joy8.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="lasts-blog-content">
                                        <div class="lasts-blog-content-category">
                            @content.CategoryName
                                        </div>
                                        <div class="lasts-blog-content-title">
                            @content.Title
                                        </div>
                                        <div class="lasts-blog-content-description">
                            @content.Description
                                        </div>
                                    </div>
                                </div>
            }
                </div>
            </div>
        </article>